<p id="notice"><%= notice %></p>

<p>
  <strong>Ma sach:</strong>
  <%= @danh_muc_sach.ma_sach %>
</p>

<p>
  <strong>Ten sach:</strong>
  <%= @danh_muc_sach.ten_sach %>
</p>

<p>
  <strong>Ma tac gia:</strong>
  <%= @danh_muc_sach.ma_tac_gia %>
</p>

<p>
  <strong>Ma the loai:</strong>
  <%= @danh_muc_sach.ma_the_loai %>
</p>

<p>
  <strong>Ma nxb:</strong>
  <%= @danh_muc_sach.ma_nxb %>
</p>

<p>
  <strong>Nam xuat ban:</strong>
  <%= @danh_muc_sach.nam_xuat_ban %>
</p>

<%= link_to 'Edit', edit_danh_muc_sach_path(@danh_muc_sach) %> |
<%= link_to 'Back', danh_muc_saches_path %>
